.indicator {
    width: 12px;
    height: 4px;
    transition: width 250ms ease;
  
    &[data-active] {
      width: 40px;
      background-color: var(--mantine-color-main-6); /* Active color */
    }
  }
/* .control{
    background-color: 'transparent';
    border: 'none';
    color: 'white';
    &[hover] {
        background-color: 'transparent';
    }
  } */